
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />


    <title>Anasayfa</title>
</head>
<body>
  

{% block body %}
  
{% endblock body %}


    

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/90f83f2a71.js" crossorigin="anonymous"></script>
</body>
</html>